.wrapper {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: repeat(3, 1fr);
    margin: 5.5em;
    margin-top: 2em;
    margin-bottom: 2em;
    font-family: "Roboto", sans-serif;
}

.item {
    border: 1px solid black;
    position: relative;
}

.text {
    padding: 1em;
    position: relative;
}

.img {
    width: 100%;
    margin: auto;
    height: 9em;
    display: block;
    border-bottom: 1px solid black;
    background: url('https://1884403144.rsc.cdn77.org/foto/iron-man-3/NjIweDMzNS9jZW50ZXIvbWlkZGxlL3NtYXJ0L2ZpbHRlcnM6cXVhbGl0eSg4NSkvaW1n/6222318.jpg?v=0&st=Z5_GyU5K7Y-VlBj0fW6FoSiAdb8kdpuWagTzpeaBcpc&ts=1600812000&e=0');
}


.item::after {
    content: "button";
    position: absolute;
    border: 1px solid black;
    background-color: lightgrey;
    width: 3rem;
    height: 2rem;
    padding-left: 2em;
    padding-right: 2em;
    padding-top: 0.75em;
    z-index: 1;
    top: 7.5rem;
    right: 1rem;
}

.button::after {
    content: "button";
    position: fixed;
    border: 1px solid black;
    background-color: lightgrey;
    width: 3rem;
    height: 2rem;
    padding-left: 1em;
    padding-right: 1em;
    padding-top: 0.75em;
    z-index: 1;
    bottom: 2rem;
    right: 1rem;
}
