body {
    padding: 1em;
}
.grid {
    display: grid;
    grid-template-columns: repeat(7, 1fr); 
    grid-template-rows: repeat(6,1fr);
}
.grid__item{
    border: 1px solid black;
    padding: 1em;
    
}
/* hodiny */
.grid__item--hour { 
    grid-column: 2;
}
.mezera{
    margin-left:-1px
}
/* dny */
.grid__item--day { 
    grid-column: 1;
    margin-bottom: -1px; 
}
/* předměty */
.grid__item--A { 
    grid-column: 3;
    grid-row: 3;
}
.grid__item--B { 
    grid-column: 7;
    grid-row: 3;
}
.grid__item--C { 
    grid-column: 4;
    grid-row: 4; 
}
.grid__item--D { 
    grid-column: 5; 
    grid-row: 4; 
}
.grid__item--E { 
    grid-column: 2; 
    grid-row: 6; 
}
.grid__item--F {
    grid-column: 5; 
    grid-row: 6; 
}
.grid__item--double {
    grid-column-end: span 2;
}
