body {
    max-width: 1140px;
    margin: auto; 
    margin-top: 4vw;
    padding: 1em; 
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
}

header{
    padding-bottom: 6vw;
}

section{
    padding-top: 4vw;
    padding-bottom: 4vw;
}
h1{
    font-size: 6em;
    font-weight: 900;
    margin: 0em;
}
.hello{
    margin-bottom: -2em;
}

.section_title{
    width: fit-content;
    z-index: 1;
    position: relative;
}

.section_title::after{
    content:" ";
    display: inline-block;
    position: absolute;
    background-color: #ff9301;
    opacity: 50%;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    top: -0.3rem;
    left: -0.5rem;
    z-index: -1;
}

.subtitle{
    font-weight: 900;
    font-size: 2em;
    color:#ff9301;
    margin-top: -1em;
}

.little_subtitle{
    margin-top: 0em;
    color:#ff9301;
    padding-left: 2.5em;
    font-size: 0.9em;
    font-weight: 400;
}

.menu{
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 0px;
}
.menu__item{
    padding: 0.3em;
    text-decoration: none;
    color: #555555;
}
.menu__item:hover{
    border-bottom: 3px solid #ff9301;
}
h2{
    font-weight: 900;
    color:#0b0b15;
    font-size: 2em;
    margin-top: 0em;
    margin-bottom: 0em;
    padding-left: 1em;
}

.flex {
    display: flex;
    align-items: center;
}
.what-i-do_flex__item{
    border: 1px;
    text-align: left;
}
h4{
    font-weight: 900;
    color:#0b0b15;
}
h3{
    font-weight: 900;
    color:#0b0b15;
}

p{
    font-weight: 400;
    color: #555555;
    font-size: 0.9em;
    margin-bottom:0em;
}

.mark{
    font-weight: 400;
    font-size: 0.9em;
    color:white;
    padding: 0.5em;
    border-radius: 10%;
}
.mark__full-time{
    background-color:#ff9301;
}
.mark__part-time{
    background-color:#555555;
}

.date{
    margin-top: 0;
    font-size: 0.6em;
}
.background__secondary{
    background-color: #d4d4d4;
}

@media (max-width:959px){
    .flex {
        flex-direction: column;
    }
}
.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.grif_biography--item-A{
    grid-area:A;
    padding-left: 1em;
}
.grif_biography--item-B{
    grid-area:B;
}
.grif_biography--item-C{grid-area:C;}
.grif_biography--item-D{
    grid-area:D;
    align-self: center;
}

.grid__biography{
    display: grid;
    grid-template-columns: 1fr 2.7fr ;
    grid-template-areas: 
            "A D"
            "B D";
}

.item__A img,
.item__B img,
.item__C img,
.item__D img,
.item__E img,
.item__F img {
    display: block;
    margin: 0 auto; 
    max-width: 100%; 
}


.item__A,
.item__B,
.item__C,
.item__D,
.item__E,
.item__F {
    flex: 1 1 300px; 
    max-width: 280px; 
}


/* na githubu kod jak udelat kolecko v nadpisu sekce (seminar8) 
pozadi barvy rozdeit do 3 divu a obarvit, obarvit celou sekci těma barvama */
