/* zakladni nastaveni */
body { 
    margin: 0em;
    margin-top: 4vw; 
    font-family: "Roboto", sans-serif;
    line-height: 1.5;
    position: relative;
    overflow: hidden;
    overflow-y: auto;}
.background__color--primary{background-color: white;}
.background__color--secondary{background-color: #f7f7ff;}
section, header, footer {
    max-width: 1140px;
    margin: auto;}
section{padding-top: 4vw;}
h1{
    font-size: 6em;
    font-weight: 900;
    margin: 0em;}
h2{
    font-weight: 900;
    color:#0b0b15;
    font-size: 1.75em;
    margin-top: 0.5em;
    margin-bottom: 0em;
    padding-left: 1em;}
h3 h4{
    font-weight: 900;
    color:#0b0b15;}
p, span, small{
    font-weight: 400;
    color: #555555;
    margin-bottom:0em;}
.introduction{margin-bottom: -1em;}
.section__title{
    width: fit-content;
    z-index: 1;
    position: relative;}
.section__title::after{
    content:" ";
    display: inline-block;
    position: absolute;
    background-color: #ff9301;
    opacity: 50%;
    border-radius: 50%;
    width: 1.8rem;
    height: 1.8rem;
    top: -0.3rem;
    left: -0.5rem;
    z-index: -1;}
.subtitle{
    font-weight: 900;
    font-size: 2em;
    color:#ff9301;
    margin-top: -1em;}
.little_subtitle{
    margin-top: 0em;
    color:#ff9301;
    padding-left: 1.8em;
    font-size: 0.9em;
    font-weight: 400;}
/* header */
.header_flex{
    display: flex;
    position: relative;}
.header_flex__item--A, .header_flex__item--B{flex:50%;}
.menu{
    margin-top: 3em;
    margin-bottom: 3em;
    padding-left: 0px;}
.menu__item{
    padding: 0.3em;
    text-decoration: none;
    color: #555555;}
.menu__item:hover{border-bottom: 3px solid #ff9301;}
.header_flex__item--B::after{
    content:" ";
    display: inline-block;
    position: absolute;
    background-color: #ff9301;
    opacity: 50%;
    border-radius: 50%;
    width: 65rem;
    height: 65rem;
    top: -30rem;
    z-index: -1;
    left: 51%;}
.big_avatar{
    position: absolute;
    right: 0;
    bottom: 0;}
/* sekce biography */
.grid__biography{
    display: grid;
    grid-template-columns: 1fr 2.5fr ;
    grid-template-areas: 
        "A B";
    margin-top:4vw;}
.grid__biography--item-A {grid-area: A;}
.grid__biography--item-B{grid-area:B;}
figure{
    position: relative;
    z-index: 1;
    align-self: center;
    margin-top: -1em;}
figcaption{padding-left:1em;}
.s_avatar{width:208px;
        background: #ff9301;
        border-radius: 50%;
        width: 13.5rem;
        height: 13.5rem;
        z-index: -1;
        top:0;
        left:-0.2em}
/* vlnka */
.border-dark{
    background-image: url("podklady/border-dark.png");
    background-repeat: repeat-x;
    max-width: 1140px;
    margin: auto;
    height: 17px;
    background-size: 12%;
    margin-top: 4vw;}
/* sekce what i do */
.what_i_do_flex {display: flex;}
.what-i-do_flex__item{
    border: 1px;
    text-align: left;
    padding: 1em;
    border-radius: 0.9em;
    margin-right: 1em;
    flex:1;
    overflow: hidden;}
.what-i-do_flex__item:last-child{ margin-right: 0em;}
.top_circle{
    position: relative;
    z-index: 1;}
.top_img{
    padding-bottom: 2.5em;
    z-index: 1;}
.top_circle::after{
    content:" ";
    display: inline-block;
    position: absolute;
    background-color: #ff9301;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
    top: -3rem;
    left: -1.5rem;
    z-index: -1;}
/* sekce awards */
.awards_flex{
    display: flex;
    padding-bottom: 2em;}
.awards_flex__item{
    display: flex;;
    flex-direction:column;
    border: 1px;
    text-align: center;
    padding: 2em;
    margin: auto;
    border-radius: 0.9em;
    margin-right: 1em;
    margin-bottom: 1em;
    flex: 1;
    align-items: center;}
.under_trophy{padding-top:1em;}
.awards_flex__item:last-child{margin-right: 0em;}
/* sekce experience */
.experience_flex{
    display:flex;
    flex-direction: column;}
.experience_flex__item{
    border: 1px;
    background-color: #f7f7ff;
    padding: 1em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 0.9em;
    margin-bottom: 1em;}
.experience_flex__item:last-child{margin-bottom: 0em;}
.inside_experience_flex{display:flex;}
.inside_experience_flex__item--A{
    flex: 1.5;
    padding-top: 2em;}
.inside_experience_flex__item--B{
    flex: 4;
    padding-bottom: 1em;
    padding-left: 2em;
    border-left: 1px solid #eeeeee;}
.mark{
    font-weight: 400;
    font-size: 0.9em;
    color:white;
    padding: 0.4em;
    border-radius: 10%;}
.mark__full-time{background-color:#ff9301;}
.mark__part-time{background-color:#555555;}
/* sekce my portfolio */
.date{
    margin-top: 0;
    font-size: 0.6em;}
.my_portfolio_grid__item h4 {margin-bottom: 0;}
#my-portfolio{margin-bottom: 2em;}
.my_portfolio_grid{
    display: grid;
    grid-gap: 1em;
    grid-template-columns: repeat(auto-fill,  minmax(300px, 1fr));}
.my_portfolio__img {max-width: 100%;}
/* sekce contact */
#contact{padding-bottom:1em;}
address{font-style: normal;}
.flex-contact{display:flex;}
.flex-contact__item{
    flex: 0 0 50%; 
    box-sizing: border-box;}
.flex-contact__item--left{padding-top: 2.5vw;}
.flex-contact__touch{flex-direction: column;}
.flex-contact__touch--item{padding-top: 0.6em;}
.flex-contact__touch--item-marker{padding-left: 3px;}
.flex-contact__touch--item-mobile{padding-left: 5px;}
.flex-contact__touch--sup{margin-left:-4px}
.flex-contact__touch--right{
    font-weight: bold;
    text-decoration: none;
    color:black;
    padding-left: 1em;}
.flex-contact__touch--item img{
    display: inline-block;
    vertical-align: middle;}
form input, form textarea{
    width: 100%;
    border: 1px solid #bbbbbb;
    padding: 1em;
    margin-bottom: 1em;}
textarea{
    height: 5em;
    font-family: "Roboto", sans-serif;}
button{
    padding: 0.7em;
    background-color: black;
    color: white;
    font-weight: bold;
    border-radius: 5px;}
.upper_form {
    display: flex;
    align-items: flex-start;}
.upper_form input,
.upper_form textarea{
    flex: 1; 
    margin-right: 1em;}
.upper_form input:last-child {margin-right: 0; }
.back {margin-right: 1.8em;}
.map{
    margin-top: 3.5vw;
    position: relative;
    height: 15em;}
.map iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    filter: grayscale(100%);}
/* footer */
footer {
    display: flex;
    margin: 0 auto;
    margin-top:0.5em;
    margin-bottom:0.5em;}
.tf{
    display:flex;
    gap:0.5em;
    justify-content: flex-start; }
footer div {
    flex: 2;
    display: flex;
    justify-content: flex-end; 
    margin:auto;}
/* responzivní */ 
@media (max-width:1200px){
    section, header, footer{
        margin-left: 4vw;
        margin-right: 4vw;}
    h1::after{
        width: 50rem;
        height: 50rem;
        top: -22rem;
        left: 32rem;}
    .border-dark{
        margin:4vw;
        margin-bottom:-1em;}
    body::after{
        width: 40rem;
        height: 40rem;
        top: -10rem;
        z-index: -1;
        left: 53%;}
    
    figcaption figure{margin-left:1em;}}
@media (max-width: 1100px) and (min-width:960px){
    .header_flex__item--A{flex:58%;}
    .header_flex__item--B{flex:42%;}}
@media (max-width:960px){
    section{padding-top: 2vw;}
    .what_i_do_flex {flex-direction: column;}
    .what-i-do_flex__item{margin-bottom: 1em;}
    .what-i-do_flex__item{margin-right: 0em;}
    .inside_experience_flex__item--A{flex:1}
    .inside_experience_flex__item--B{flex:4.5}
    .flex-contact {
        flex-direction: column;
        padding-bottom: 2vw;}  
    .map {margin-top: 1vw;}
    .flex-contact__item--left{padding-top: 0em;} 
    .big_avatar,body::after,.header_flex__item--B{display: none;} 
    .header_flex__item--A p {padding-right:60%;}
    .grid__biography{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "A"
            "B";}
    .grid__biography--item-A{
        margin:0 auto;
        margin-bottom:2em;}
    .border-dark{background-size: 20%;}}
@media (max-width: 765px) {
    .awards_flex__item:first-child{padding-top: 3.5em;}
    .awards_flex__item:last-child{padding-top: 3.5em;}}
@media (max-width: 714px) {.awards_flex__item:last-child{padding-top: 2em;}}
@media (max-width: 669px) {.awards_flex__item:first-child{padding-top: 2em;}}
@media (max-width: 560px) {
    .upper_form{
        display: block;
        margin-right: 1.8em;}
    .header_flex__item--A p {padding-right:0%;}
    .menu{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        margin-top: 1em;
        margin-bottom: 1em;}
    .menu__item{
        padding: 1em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        margin-bottom:1em;
        margin-left:0.5em;
        width: 7em;
        height: 1.5em;
        text-align: center;
        border-radius:5px;
        background-color: #ff9301;
        color: #0b0b15;}
    .menu__item:hover{border:none;}
    .border-dark{background-size: 30%;}
    .inside_experience_flex{
        flex-direction: column;
        padding:1em}                   
    .inside_experience_flex__item--A{
        padding:0em;
        padding-bottom:1em;}
    .inside_experience_flex__item--A p{margin:0em}
    .inside_experience_flex__item--B{
        padding:0em;
        border-left:none;}
    .awards_flex{
        flex-direction: column;
        padding-bottom:0.5em;}
    .awards_flex__item{
        display: flex;
        flex-direction: row;
        padding:1em;
        margin-right: 1em;
        margin-left: 0em;
        margin-right: 0em;
        gap:1em;
        flex-grow: 2;
        text-align: start;}
        .under_trophy{padding-top:0em;}
    .awards_flex__item:first-child {padding-top: 1em;}
    .awards_flex__item:last-child {padding-top: 1em;}
    .awards_flex__item p {margin-top: 0.75em;}
    footer{
        flex-direction:column;
        gap:0.5em;
        margin:1em;}}

