.wrapper{
    display: grid;
    grid-gap: 1em;
    margin: auto;
    max-width: 1000px;
}

.item{
    padding: 1em;
    background-color: lightblue;
}

.item__A {grid-area:header;}
.item__B {grid-area:content;}
.item__C {grid-area:sidebar;}
.item__D {grid-area:footer;}


@media(max-width: 500px){
    .wrapper{
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header "
            "content"
            "sidebar"
            "footer";
    }
}

@media (min-width: 501px) and (max-width: 900px) {
    .wrapper {
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
            "header header"
            "content sidebar"
            "footer footer";
    }
}

@media (min-width: 901px) {
    .wrapper {
        grid-template-columns: 2fr 1fr;
        grid-template-areas: 
            "header header"
            "content sidebar"
            "footer footer";
    }
}