body {
    max-width: 1140px;
    margin: 0 auto;
    padding: 1em; 
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 1.5;
}

.wrapper{
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    justify-content: center;
}

.item__A,
.item__B,
.item__C,
.item__D,
.item__E,
.item__F {
    flex: 1 1 300px; 
    max-width: 300px; 
}

h2,
h3 {
    font-weight: 900;
    color: #0b0b15;
}

p {
    font-weight: 400;
    color: #555555;
    font-size: 0.9em;
}

.date {
    margin-top: 0;
    font-weight: 400;
    color: #555555;
    font-size: 0.6em;
}
