.flex{
    display: flex;
}
<<<<<<< HEAD

=======
>>>>>>> 6bdcb89c3714816e64ae404e3737ae8b552a5048
.flex__main{
    padding: 1em;
    margin-left: 0px;
    margin-right: 0px;
    width: 25em;
    margin: auto;
    justify-content: space-between;
    border: 1px solid black;
}

.box__left {
    justify-content: flex-start; 
}

.box__right {
    justify-content: flex-end;
}
<<<<<<< HEAD

.box__item{
=======
.normal{
>>>>>>> 6bdcb89c3714816e64ae404e3737ae8b552a5048
    border: 1px solid black;
    padding: 1em;
    margin-left: -1px;
    margin-right: 0px;
}

.box__item--special{
    background-color: #0066cc;
    color: white;
}