.flex{
    display: flex;
}
.flex__main{
    padding: 1em;
    margin-left: 0px;
    margin-right: 0px;
    width: 25em;
    margin: auto;
    justify-content: space-between;
    border: 1px solid black;
}
.box__left {
    justify-content: flex-start; 
    
}
.box__right {
    justify-content: flex-end;
}
.normal{
    border: 1px solid black;
    padding: 1em;
    margin-left: -1px;
    margin-right: 0px;
}
.special{
    background-color: #0066cc;
    color: white;
}
