.flex{
    display: flex;
    padding: 1em;
    border: 1px solid black;
    margin-left: 0px;
    margin-right: 0px;
}
.flex__main{
    width: 25em;
    margin: auto;
    display: flex; 
    justify-content: space-between;
}
.box__left {
    display: flex;
    justify-content: flex-start; 
    
}
.box__right {
    display: flex;
    justify-content: flex-end;
}
.fix_right_line{
    border-right: 0;
}
.special{
    background-color: #0066cc;
    color: white;
}
